h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

NavLink{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black
}

a:hover{
    color: rgb(248, 140, 158);
}

.nav-title{
    display: inline;
    vertical-align: middle;
}